# Image settings
image:
  repository: localhost:32000/django-app   # приватный registry microk8s
  tag: latest
  pullPolicy: IfNotPresent

# Application settings
app:
  replicas: 3
  port: 8000
  env:
    DEBUG: "False"
    ALLOWED_HOSTS: "*"
    DB_HOST: "{{ .Release.Name }}-postgresql"

# Ingress
ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: django-app.local
      paths:
        - path: /
          pathType: Prefix

# PostgreSQL
postgresql:
  enabled: true
  auth:
    database: "django_app"
    username: "django_user"
    password: "postgres_password_123"
  persistence:
    enabled: true
    size: 5Gi

# Monitoring
monitoring:
  enabled: true
  serviceMonitor:
    enabled: true
