global:
  namespace: django-app

image:
  repository: localhost:30500/django-app
  tag: latest
  pullPolicy: IfNotPresent

app:
  replicas: 2
  port: 8000
  env:
    DEBUG: "False"
    ALLOWED_HOSTS: "*"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: django-app.local
      paths:
        - path: /
          pathType: Prefix

postgresql:
  enabled: true
  auth:
    username: django
    password: django123
    database: django
  persistence:
    enabled: true
    size: 5Gi

monitoring:
  enabled: true
