apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "django-app.fullname" . }}-fluentbit
  namespace: {{ .Values.global.namespace }}
data:
  fluent-bit.conf: |
    [INPUT]
        Name tail
        Path /var/log/containers/*django*.log
    [OUTPUT]
        Name loki
        Match *
        Host loki.monitoring.svc.cluster.local
        Port 3100
